<link rel="stylesheet" href="/stylesheet/partials.css"/>

<nav>
  
  <% if(user) { %>
    <div class="navbar">
      <h1 id="nav-header">Pantry</h1>
      
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/users/<%=user._id%>/foods">View my Pantry</a>
        <a href="/auth/sign-out">Sign Out</a>
      </div>
    </div>
    <% } else { %>
      <div class="navbar">
        <h1 id="nav-header">Pantry</h1>

        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/auth/sign-in">Sign In</a>
          <a href="/auth/sign-up">Sign Up</a>
        </div>
      </div>
      <% } %>
    </nav>