<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css"></link>
    <title>Home Page</title>
  </head>
<body class="index-body">
  <%- include('./partials/_navbar.ejs') %>
  <div class="index-container">
    <div class="text-container">
      <h1 class="main-header">Welcome to Pantry</h1>
      <% if (user) { %>
        <div class="text-container">
          <h1>Let's get started with your own Pantry, <%= user.username %>!</h1>
          <p class="subheader">
          <a class="authlink" href="/auth/sign-out">Sign out</a>
          </p></div>
        </div>
      <% } else { %>
    <div class="text-container">
      <p class="subheader">Make your own Pantry, guest?</p>
    </div>
      <% } %>
  </div>
  </body>
</html>
