<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheet/style.css"></link>
  <link rel="stylesheet" href="/stylesheets/partials.css" />
  <title>Edit Item <%= foods.name %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit <%= foods.name %></h1>
  <form action="/users/<%=user._id%>/foods" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />

        <label for="category">Category</label>
        <select id="category" name="category">
          <option value="Fruit">Fruit</option>
          <option value="Vegetable">Vegetable</option>
          <option value="Dairy">Dairy</option>
          <option value="Spice">Spice</option>
          <option value="Meats">Meats</option>
          <option value="Fish">Fish</option>
          <option value="Eggs">Eggs</option>
          <option value="Grains">Grains</option>
          <option value="Legumes">Legumes</legend></option>
          <option value="Milk">Milk</option>
          <option value="Fats">Fish</option>
          <option value="Oils ">Oils</option>
          <option value="Sugar or Sweetener">Sugar or Sweetener</option>
          <option value="Herbs">Herbs</option>
          <option value="Sauces">Sauces</option>
          <option value="Dressing ">Dressing</option>
          <option value="Leavening Agents">Leavening Agents</option>
          <option value= "Thickeners,Stabilizers & Binders">Thickeners, Stabilizers & Binders</option>
          </select>

        <date for="notes">Notes</label>
        <textarea name="notes" id="notes"></textarea>

        <label for="expiration">Expiration</label>
        <input type="date" name="expiration" id="" value="" min="yyyy-MM-dd(today)" max="yyyy-MM-dd"/>

    <button type="submit">Update Item</button>
  </form>
</body>
</html>